BRAVE_API_KEY=
EMBEDDING_API_KEY=
GEMINI_API_KEY=
SCHOLARXIV_API_KEY=
SEARCH_API_KEY=
SUPABASE_URL=https://xhxgbqwytmzwnzswelln.supabase.co
SUPABASE_ANON_KEY=sb_publishable_ac2r1Xx3s62t68b6Bfnm9Q_vOofu63P
TAVILY_API_KEY=
VITE_APP_ENV=production
VITE_SUPABASE_URL=https://xhxgbqwytmzwnzswelln.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_ac2r1Xx3s62t68b6Bfnm9Q_vOofu63P
VITE_SUPABASE_ANON_KEY=sb_publishable_ac2r1Xx3s62t68b6Bfnm9Q_vOofu63P
VITE_VOXIDE_KEY=vox_pub_XXXXXXXXXXXX

